GDS信息/miki/XML7/sightseeingCommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="commonTypes.xsd"/>
	<xs:complexType name="sightseeingSearchCriteriaType">
		<xs:annotation>
			<xs:documentation>Search/checking criteria</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Critieria relating to the booking that is the basis of the search</xs:documentation>
			</xs:annotation>
			<xs:element name="destination">
				<xs:complexType>
					<xs:choice>
						<xs:annotation>
							<xs:documentation>Only one of the following values can be used</xs:documentation>
						</xs:annotation>
						<xs:element name="codes">
							<xs:complexType>
								<xs:sequence maxOccurs="10">
									<xs:element name="code" type="locationCodeType"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="hotelRefs" type="productRefCriteriaType">
							<xs:annotation>
								<xs:documentation>Multiple products can be specified</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="scheduleDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>The start date of the activity for which availability is being checked.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="passengerInformation">
				<xs:annotation>
					<xs:documentation>Specify the passenger information</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="count" type="xs:positiveInteger">
							<xs:annotation>
								<xs:documentation>The number of guests including adult,child and infant</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="guests">
							<xs:annotation>
								<xs:documentation>Collection of guest for this room.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence maxOccurs="unbounded">
									<xs:element name="guest" type="guestCountType"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="salesChannel" type="salesChannelType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Via what sales channel will the hotel be sold: 1=Wholesale, 2=Retail, 3=Corporate, 4=To consumer, 9=Staff</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="textInProductName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Text to be searched in Product names</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="agentMarkup" type="agentMarkupType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Agent markup. Only for Miki internal use</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="priceQualifierType"/>
		<xs:attribute name="languageCode" type="xs:language" use="optional">
			<xs:annotation>
				<xs:documentation>ISO language code for results (if not supported by Miki, en will be used)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="returnProuductInfo" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates whether the minmum product information to be return in the response or not.The value TRUE - means product information will be return in the response.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- Sub Product-->
	<xs:complexType name="sightseeingSubProductType">
		<xs:annotation>
			<xs:documentation>This element holds the price per sub product</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="price">
				<xs:annotation>
					<xs:documentation>Total price for all quantity of this subProduct.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attributeGroup ref="totalPriceType"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="optionCode" type="xs:string"/>
			<xs:element name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Sub product description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="availabilityStatus">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="status" type="availabilityStatusType">
							<xs:annotation>
								<xs:documentation>1 = Available, 2 = On-Request</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="nonAvailabilityReason" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Reason if this sub product is not available.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="rateProperties" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Collection Properties which are related to this rate.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="property" type="propertyType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="supplierName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Details to identify the supplier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="guestCounts" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Collection of passenger details.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="guestCount" type="sightseeingPassengerType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="cancellationPolicies">
				<xs:annotation>
					<xs:documentation>Collection of the cancellation policies which are applicable to this product.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="cancellationPolicy" type="cancellationPolicyRecordType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="modificationPolicies" type="modificationPolicyCodes" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Modification policy details</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="noShowPolicy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>No show policy details</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="policyDescription" type="xs:string">
							<xs:annotation>
								<xs:documentation>No show policy description</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="supplementsInclusions" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Collection of Supplements which are included in the price.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="supplementInclusion" type="supplementGroupType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="supplementsExclusions" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Collection of Supplements which are not included in the price.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="supplementExclusion" type="supplementGroupType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="specialOffers" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Collection of special offers which are applied/applicable to this price.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="offer" type="specialOfferType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="bookingIdentifierType">
			<xs:annotation>
				<xs:documentation>Unique identifier to identify the booking source.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attributeGroup ref="roomRateIdentifierType">
			<xs:annotation>
				<xs:documentation>Unique identifier for the rate.</xs:documentation>
			</xs:annotation>
		</xs:attributeGroup>
		<xs:attribute name="code" type="subproductCodeType" use="required">
			<xs:annotation>
				<xs:documentation>Unique subproduct code of this activity.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="modifiable" type="xs:boolean" use="required"/>
		<xs:attribute name="packageRate" type="xs:boolean" use="optional"/>
		<xs:attribute name="B2Csellable" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>Flag to indicate whether this product can be sell b2c directly or not. True means it sellable to B2C directly.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="sightseeingProductType">
		<xs:complexContent>
			<xs:extension base="commonProductType">
				<xs:sequence>
					<xs:element name="scheduleDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>Service date of the this product</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="activities">
						<xs:annotation>
							<xs:documentation>Collection of sighseeing products for a specific type of vehicle.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Multiple sub products are allowed on one booking</xs:documentation>
								</xs:annotation>
								<xs:element name="activity" type="sightseeingSubProductType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="cancellationPolicies">
						<xs:annotation>
							<xs:documentation>Collection of the cancellation policies which are applicable to this product.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="cancellationPolicy" type="cancellationPolicyRecordType"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="hotelPickupRequired" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>True if pick up hotel is required in booking request</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="productInfo" type="sightseeingProductInfo" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Collection of product information which are related to this product only.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- product Info-->
	<xs:complexType name="sightseeingProductInfo">
		<xs:annotation>
			<xs:documentation>Returns information about the product</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="productName" type="xs:string">
				<xs:annotation>
					<xs:documentation>The name of the product</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productDescription" type="xs:string">
				<xs:annotation>
					<xs:documentation>The description of the product which breifly describes the product</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productCategory"/>
			<xs:element name="productImages">
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="productImage">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="imageURL" type="xs:string"/>
									<xs:element name="thumbnailURL" type="xs:string"/>
									<xs:element name="imageSequence" type="xs:int"/>
									<xs:element name="imageDescription" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="duration" type="xs:string" minOccurs="0"/>
			<xs:element name="introduction" type="xs:string" minOccurs="0"/>
			<xs:element name="conditions" type="xs:string" minOccurs="0"/>
			<xs:element name="inclusions" type="xs:string" minOccurs="0"/>
			<xs:element name="exclusions" type="xs:string" minOccurs="0"/>
			<xs:element name="specialPolicy" type="xs:string" minOccurs="0"/>
			<xs:element name="additionalInfo" type="xs:string" minOccurs="0"/>
			<xs:element name="ticketingDetails" type="xs:string" minOccurs="0"/>
			<xs:element name="commences" type="xs:string" minOccurs="0"/>
			<xs:element name="departureDateInfo" type="xs:string" minOccurs="0"/>
			<xs:element name="departureTimeInfo" type="xs:string" minOccurs="0"/>
			<xs:element name="departurePoint" type="xs:string" minOccurs="0"/>
			<xs:element name="dropOffPoint" type="xs:string" minOccurs="0"/>
			<xs:element name="supplierName" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Sightseeing reservation item -->
	<xs:complexType name="sightseeingReservationItemType">
		<xs:annotation>
			<xs:documentation>Details required when booking a sightseeing product</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="scheduleDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>The start date of the activity for which availability is being checked.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="activities">
				<xs:annotation>
					<xs:documentation>Sub products for sightseeing products are used to indicate then number of adults and children</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Mutiple sub products are allowed</xs:documentation>
						</xs:annotation>
						<xs:element name="activity">
							<xs:annotation>
								<xs:documentation>The sub product information required is simple - code and quantity</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="code" type="subproductCodeType">
										<xs:annotation>
											<xs:documentation>The sub product code is unique per product type</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="optionCode" type="xs:string"/>
									<xs:element name="guestCounts">
										<xs:annotation>
											<xs:documentation>Collection of passenger details.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence maxOccurs="unbounded">
												<xs:element name="guestCount" type="sightseeingPassengerType"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="ratePlan" type="ratePlanGroupType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Details of the Rate plan code</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="supplementsExclusions" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Request Collection of Supplements which are not included in the original search price.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="supplementExcluded" type="supplementGroupType"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="specialRequest" type="xs:string" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Specify the any special requests in text format.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hotelDetails" minOccurs="0">
				<xs:complexType>
					<xs:attributeGroup ref="hotelCodeType"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="leadGuestInformation" type="leadSightseeingGuestInformationType">
				<xs:annotation>
					<xs:documentation>Detail of the lead guest.Consists of Name and contact details</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sightseeingPassengerType">
		<xs:annotation>
			<xs:documentation>Defines the number of guests</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="nameType"/>
		</xs:sequence>
		<xs:attributeGroup ref="passengerGroupType"/>
	</xs:complexType>
	<xs:complexType name="sightseeingResponseItemType">
		<xs:sequence>
			<xs:element name="scheduleDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>Specify the service date for this sightseeing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="activities">
				<xs:annotation>
					<xs:documentation>Collection of sighseeing products for a specific type of vehicle.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Multiple sub products are allowed on one booking</xs:documentation>
						</xs:annotation>
						<xs:element name="activity" type="sightseeingSubProductType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="cancellationPolicies">
				<xs:annotation>
					<xs:documentation>Collection of the cancellation policies which are applicable to this product.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="cancellationPolicy" type="cancellationPolicyRecordType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="hotelPickupRequired" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>True if pick up hotel is required in booking request</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="productInfo" type="sightseeingProductInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Collection of product information which are related to this product only.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="leadSightseeingGuestInformationType">
		<xs:annotation>
			<xs:documentation>Detail of the lead guest.Consists of Name and contact details</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nameDetail">
				<xs:annotation>
					<xs:documentation>Guest name details</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="sightseeingPassengerType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="contactDetail">
				<xs:annotation>
					<xs:documentation>Guest contact details</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="leadPassengerContactType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="sightseeingProductInfoType">
		<xs:annotation>
			<xs:documentation>Information describing a sigtseeing product</xs:documentation>
		</xs:annotation>
			<xs:sequence>
				<xs:element name="masterInfo">
					<xs:annotation>
						<xs:documentation>General information about the tour</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="schedule">
								<xs:annotation>
									<xs:documentation>Information about when the service runs</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="meetingTime" type="formattedTime">
											<xs:annotation>
												<xs:documentation>The time at which the pax should meet before the tour starts</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="meetingPoints">
											<xs:annotation>
												<xs:documentation>Meeting place details</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>Multiple lines of text allowed</xs:documentation>
													</xs:annotation>
													<xs:element name="meetingPoint" type="xs:string">
														<xs:annotation>
															<xs:documentation>Meeting point text</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="departureTime" type="formattedTime">
											<xs:annotation>
												<xs:documentation>The time that the tour actually departs</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="departurePoints">
											<xs:annotation>
												<xs:documentation>Departure place details</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>Multiple lines of text allowed</xs:documentation>
													</xs:annotation>
													<xs:element name="departurePoint" type="xs:string">
														<xs:annotation>
															<xs:documentation>Departure point text</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="duration" type="formattedDuration">
											<xs:annotation>
												<xs:documentation>The duration of the tour</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="finishingPoints">
											<xs:annotation>
												<xs:documentation>Details regarding the place the tour finishes</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>Multiple lines of text allowed</xs:documentation>
													</xs:annotation>
													<xs:element name="finishingPoint" type="xs:string">
														<xs:annotation>
															<xs:documentation>Finishing point text</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="tourPoints" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Information regarding key places of interest/tour highlights</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>Multiple lines of text allowed</xs:documentation>
													</xs:annotation>
													<xs:element name="tourPoint">
														<xs:annotation>
															<xs:documentation>A description of the tour highlight/place of interest</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string"/>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="entranceFees" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Information regarding the attractions visited during the tour</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence maxOccurs="unbounded">
													<xs:annotation>
														<xs:documentation>Multiple entrance fee text possible</xs:documentation>
													</xs:annotation>
													<xs:element name="entranceFee">
														<xs:annotation>
															<xs:documentation>A description of the attraction</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:simpleContent>
																<xs:extension base="xs:string"/>
															</xs:simpleContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="suitability">
								<xs:annotation>
									<xs:documentation>Information regarding the suitability of the tour for certain types of pax</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="forInfants" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Indicates whether the tour is suitable for children aged 0-2</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="forChildren" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Indicates whether the tour is suitable for children aged 3-12</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="forElderly" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Indicates whether the tour is suitable for elderly pax</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="forWheelchair" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Indicates whether the tour is suitable for disabled pax</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="amenities">
								<xs:annotation>
									<xs:documentation>Information about the amenities</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="cafe" type="xs:string">
											<xs:annotation>
												<xs:documentation>Indicates whether a cafe is at the location or nearby</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="shopping" type="xs:string">
											<xs:annotation>
												<xs:documentation>Indicates whether shopping is available at the location or nearby</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="newsagent" type="xs:string">
											<xs:annotation>
												<xs:documentation>Indicates whether a newsagent is at the location or nearby</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="included">
								<xs:annotation>
									<xs:documentation>Information regarding the services included on the tour</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="assistantIncluded" type="xs:string">
											<xs:annotation>
												<xs:documentation>Indicates whether a tour assistant is included with the tour</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="guideIncluded" type="xs:string">
											<xs:annotation>
												<xs:documentation>Indicates whether a guide is included with tour</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="accommodationIncluded" type="xs:string">
											<xs:annotation>
												<xs:documentation>Indicates whether the cost of the accommodation is included with the tour</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="foodDrink">
											<xs:annotation>
												<xs:documentation>Information indicating the drinks and/or meals included on the tour</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="mealBasis" type="xs:string">
														<xs:annotation>
															<xs:documentation>The explanation of the meal basis</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="drinksIncluded" type="xs:string">
														<xs:annotation>
															<xs:documentation>Indicates whether drinks are included - hotel, cold, alcoholic, soft</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="breakfastIncluded" type="xs:string">
														<xs:annotation>
															<xs:documentation>Indicates whether breakfast is included</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="lunchIncluded" type="xs:string">
														<xs:annotation>
															<xs:documentation>Indicates whether lunch is included</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="dinnerIncluded" type="xs:string">
														<xs:annotation>
															<xs:documentation>Indicates whether dinner is included</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="trainTicket" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Information specifically concerning the rail part of the tour</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="trainTicketIncluded" type="xs:string">
											<xs:annotation>
												<xs:documentation>Indicates whether the cost of the train ticket is included in the price</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="overnightJourney" type="xs:string">
											<xs:annotation>
												<xs:documentation>Indicates whether the train journey included is overnight</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="classOfTicket" type="xs:string">
											<xs:annotation>
												<xs:documentation>First, Business or Standard</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="transportTypes" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Describes the modes of transport included on the tour</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Multiple modes per tour are possible</xs:documentation>
										</xs:annotation>
										<xs:element name="transportType" type="xs:string">
											<xs:annotation>
												<xs:documentation>Cable car, Ferry, Train, Animal, Bus/coach</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="tourLanguages">
					<xs:annotation>
						<xs:documentation>Includes the languages that the tour operates in</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Multiple languages are possible</xs:documentation>
							</xs:annotation>
							<xs:element name="languageName" type="xs:string">
								<xs:annotation>
									<xs:documentation>Language name</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="bookingTerms">
					<xs:annotation>
						<xs:documentation>Information regarding the booking of the tour</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="voucherRequired" type="xs:string">
								<xs:annotation>
									<xs:documentation>Indicates whether the pax must present a voucher to the supplier</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="reservationRequired" type="xs:string">
								<xs:annotation>
									<xs:documentation>Indicates whether the tour needs to be booked in advance</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="bookingConditions" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Includes tour-specific booking conditions</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Multiple conditions are possible</xs:documentation>
										</xs:annotation>
										<xs:element name="bookingCondition" type="xs:string">
											<xs:annotation>
												<xs:documentation>Condition text</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="openCloseTimes" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Detailed open/close information</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="standardOpenCloseTimes">
								<xs:annotation>
									<xs:documentation>Standard open/close times</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:annotation>
											<xs:documentation>Multiple periods are possible (usually seasonal)</xs:documentation>
										</xs:annotation>
										<xs:element name="standardOpenCloseTime">
											<xs:annotation>
												<xs:documentation>Standard open/close period</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="validFrom" type="formattedDate">
														<xs:annotation>
															<xs:documentation>Information applies from date</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="validTo" type="formattedDate">
														<xs:annotation>
															<xs:documentation>Information applies to date</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="days">
														<xs:annotation>
															<xs:documentation>Standard open/close times per day of the week</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence maxOccurs="7">
																<xs:element name="day">
																	<xs:annotation>
																		<xs:documentation>One day element for each day of the week</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="dayOfWeek" type="xs:string">
																				<xs:annotation>
																					<xs:documentation>Day name</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="dayDetail" type="dayDetailType">
																				<xs:annotation>
																					<xs:documentation>Open/close times</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="exceptions" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Exceptions to the standard open/close times</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element name="exception">
											<xs:annotation>
												<xs:documentation>Exception is per date</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="serviceDate" type="formattedDate">
														<xs:annotation>
															<xs:documentation>Date of exception</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="dayDetail" type="dayDetailType">
														<xs:annotation>
															<xs:documentation>Open/close times</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
	</xs:complexType>
</xs:schema>
