travco/HotelBookingV7RequestService_wsdl.xml

<wsdl:definitions targetNamespace="http://www.travco.co.uk/" xmlns:cmp="http://www.travco.co.uk/trlink/xsd/complextype" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://www.travco.co.uk/" xmlns:request="http://www.travco.co.uk/trlink/xsd/hotelbookingv7/request" xmlns:response="http://www.travco.co.uk/trlink/xsd/hotelbookingv7/response" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<wsdl:documentation>HotelBookingV7RequestService</wsdl:documentation>
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://www.travco.co.uk/trlink/xsd/hotelbookingv7/response" schemaLocation="HotelBookingV7RequestService?xsd=HotelBookingV7Response.xsd"/>
			<xs:import namespace="http://www.travco.co.uk/trlink/xsd/hotelbookingv7/request" schemaLocation="HotelBookingV7RequestService?xsd=HotelBookingV7Request.xsd"/>
			<xs:import namespace="http://www.travco.co.uk/trlink/xsd/complextype" schemaLocation="HotelBookingV7RequestService?xsd=CommonComplexType.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="DoHotelBooking">
		<wsdl:part element="request:doHotelBooking" name="parameters1"/>
	</wsdl:message>
	<wsdl:message name="ServerFaultMessage">
		<wsdl:part element="cmp:ServerFault" name="fault6"/>
	</wsdl:message>
	<wsdl:message name="UpdateHotelBooking">
		<wsdl:part element="request:updateHotelBooking" name="parameters2"/>
	</wsdl:message>
	<wsdl:message name="HotelBookingV7Response">
		<wsdl:part element="response:HotelBookingV7Response" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="CommunicationFaultMessage">
		<wsdl:part element="cmp:CommunicationFault" name="fault5"/>
	</wsdl:message>
	<wsdl:message name="ReceiveParserFaultMessage">
		<wsdl:part element="cmp:ReceiveParserFault" name="fault2"/>
	</wsdl:message>
	<wsdl:message name="SendParserFaultMessage">
		<wsdl:part element="cmp:SendParserFault" name="fault3"/>
	</wsdl:message>
	<wsdl:message name="UserFaultMessage">
		<wsdl:part element="cmp:UserFault" name="fault4"/>
	</wsdl:message>
	<wsdl:message name="CancelHotelBooking">
		<wsdl:part element="request:cancelHotelBooking" name="parameters3"/>
	</wsdl:message>
	<wsdl:message name="ResponseDataFaultMessage">
		<wsdl:part element="cmp:ResponseDataFault" name="fault1"/>
	</wsdl:message>
	<wsdl:portType name="HotelBookingV7RequestServicePortType">
		<wsdl:operation name="doHotelBooking">
			<wsdl:input message="ns:DoHotelBooking" wsaw:Action="urn:doHotelBooking"/>
			<wsdl:output message="ns:HotelBookingV7Response" wsaw:Action="urn:doHotelBookingResponse"/>
			<wsdl:fault message="ns:ReceiveParserFaultMessage" name="ReceiveParserException"/>
			<wsdl:fault message="ns:ServerFaultMessage" name="ServerException"/>
			<wsdl:fault message="ns:CommunicationFaultMessage" name="CommunicationException"/>
			<wsdl:fault message="ns:ResponseDataFaultMessage" name="ResponseDataException"/>
			<wsdl:fault message="ns:UserFaultMessage" name="UserException"/>
			<wsdl:fault message="ns:SendParserFaultMessage" name="SendParserException"/>
		</wsdl:operation>
		<wsdl:operation name="updateHotelBooking">
			<wsdl:input message="ns:UpdateHotelBooking" wsaw:Action="urn:updateHotelBooking"/>
			<wsdl:output message="ns:HotelBookingV7Response" wsaw:Action="urn:updateHotelBookingResponse"/>
			<wsdl:fault message="ns:ReceiveParserFaultMessage" name="ReceiveParserException"/>
			<wsdl:fault message="ns:ServerFaultMessage" name="ServerException"/>
			<wsdl:fault message="ns:CommunicationFaultMessage" name="CommunicationException"/>
			<wsdl:fault message="ns:ResponseDataFaultMessage" name="ResponseDataException"/>
			<wsdl:fault message="ns:UserFaultMessage" name="UserException"/>
			<wsdl:fault message="ns:SendParserFaultMessage" name="SendParserException"/>
		</wsdl:operation>
		<wsdl:operation name="cancelHotelBooking">
			<wsdl:input message="ns:CancelHotelBooking" wsaw:Action="urn:cancelHotelBooking"/>
			<wsdl:output message="ns:HotelBookingV7Response" wsaw:Action="urn:cancelHotelBookingResponse"/>
			<wsdl:fault message="ns:ReceiveParserFaultMessage" name="ReceiveParserException"/>
			<wsdl:fault message="ns:ServerFaultMessage" name="ServerException"/>
			<wsdl:fault message="ns:CommunicationFaultMessage" name="CommunicationException"/>
			<wsdl:fault message="ns:ResponseDataFaultMessage" name="ResponseDataException"/>
			<wsdl:fault message="ns:UserFaultMessage" name="UserException"/>
			<wsdl:fault message="ns:SendParserFaultMessage" name="SendParserException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HotelBookingV7RequestServiceSoap11Binding" type="ns:HotelBookingV7RequestServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="doHotelBooking">
			<soap:operation soapAction="urn:doHotelBooking" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ReceiveParserException">
				<soap:fault name="ReceiveParserException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServerException">
				<soap:fault name="ServerException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="CommunicationException">
				<soap:fault name="CommunicationException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResponseDataException">
				<soap:fault name="ResponseDataException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="UserException">
				<soap:fault name="UserException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SendParserException">
				<soap:fault name="SendParserException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateHotelBooking">
			<soap:operation soapAction="urn:updateHotelBooking" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ReceiveParserException">
				<soap:fault name="ReceiveParserException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServerException">
				<soap:fault name="ServerException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="CommunicationException">
				<soap:fault name="CommunicationException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResponseDataException">
				<soap:fault name="ResponseDataException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="UserException">
				<soap:fault name="UserException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SendParserException">
				<soap:fault name="SendParserException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="cancelHotelBooking">
			<soap:operation soapAction="urn:cancelHotelBooking" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="ReceiveParserException">
				<soap:fault name="ReceiveParserException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServerException">
				<soap:fault name="ServerException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="CommunicationException">
				<soap:fault name="CommunicationException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ResponseDataException">
				<soap:fault name="ResponseDataException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="UserException">
				<soap:fault name="UserException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="SendParserException">
				<soap:fault name="SendParserException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HotelBookingV7RequestService">
		<wsdl:port binding="ns:HotelBookingV7RequestServiceSoap11Binding" name="HotelBookingV7RequestHttpSoap11Endpoint">
			<soap:address location="http://v8apitest1.travco.co.uk:8080/trlinkjws/services/HotelBookingV7RequestService/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>